.text-inp {
    float: right;
    /* z-index: 99; */
    margin-top: -20px;
    /* z-index: 1; */
    margin-top: -100px;
    position: relative;
    outline: none;
}

.btnAdd {
    border-color: #84c8d7;
    height: 50px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(45, 128, 153);
    outline: none;
}
::placeholder {
    color: black;
}

@media screen and (max-width: 600px) {
    .text-inp {
        display: flex;
        flex-wrap: wrap;
    }
    .input {
        width: 80px;
        height: 10px;
    }
    .btnAdd {
        height: 20px;
        width: 40px;
        font-size: 4px;
    }
}

@media screen and (max-width: 400px) {
    .text-inp {
        display: flex;
        flex-wrap: wrap;
    }
    .input {
        width: 80px;
        height: 10px;
    }
    .btnAdd {
        height: 20px;
        width: 40px;
        font-size: 4px;
    }
}
