li {
    list-style: none;
}
.div {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list {
    background-color: rgb(94, 231, 201);
    width: 300px;
    border-radius: 6px;
    box-shadow: 3px 5px 6px rgb(140, 0, 255);
    margin: 20px 20px;
}

.inner-div {
    margin: 30px 30px;
    height: 250px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: rgb(54, 53, 53);
    overflow: auto;
}

.edit {
    margin: 10px 20px;
    padding: 5px 10px;
    background-color: rgb(186, 117, 241);
    font-weight: bold;
}
.edit:hover {
    background: linear-gradient(to top right, #33ccff 65%, #ff99cc 100%);
}
.delete {
    margin: 10px 20px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: rgb(186, 117, 241);
}
.delete:hover {
    background: linear-gradient(to top right, #33ccff 65%, #ff99cc 100%);
}
.title {
    margin-left: 90px;
    font-size: 28px;
    font-weight: 600;
    color: rgb(80, 7, 62);
}

@media screen and (max-width: 600px) {
    .div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
